/* utilities */

body {
    font-family: EB Garamond;
}

.btn {
    font-weight: 500;
    color: white;
    border: none;    
}



/* navigation panel */

/* banner styles */

.banner {
    height: 80vh;
    background: rgba(0, 0, 0, .5) url(images/banner.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner > div {
    width: 50%;
}

/* practice areas */

.w-sm-100 {
    width: 50%;
}

.card:hover {
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0.00) 100%);
}

/* clients feedback */

.carousel-item {
    height: 90vh;
}

.carousel-item > img {
    filter: brightness(.5);
}

/* -----------------------mobile device syles----------------- */
@media screen and (max-width: 688px) {
    .banner {
        width: 100vw;
        height: 50vh;
    }

    .banner > div {
        width: 80%;
    }

    .w-sm-25 {
        width: 25%;
    }

    .w-sm-100 {
        width: 100%;
    }

}