/* utilities */

body {
    font-family: EB Garamond;
}

.btn {
    font-weight: 500;
    color: white;
    border: none;    
}

/* navigation panel */

/* banner styles */

.banner {
    height: 80vh;
    background: rgba(0, 0, 0, .5) url(images/banner.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner > div {
    width: 50%;
}

/* practice areas */

.w-sm-100 {
    width: 50%;
}

.card:hover {
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0.00) 100%);
}

/* clients feedback */

.carousel-item {
    height: 90vh;
}

.carousel-item > img {
    filter: brightness(.5);
}

.carousel-item > div {
    top: 50%;
}

/* faq section */

.w-sm-50 {
    width: 50%;
}

.accordion-button::after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>');
    transition: all 0.8s;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16"><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/></svg>');
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button, .accordion-button:not(.collapsed), .accordion-body {
    background-color: #F3F3F3;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

/* -----------------------mobile device syles----------------- */
@media screen and (max-width: 688px) {
    .banner {
        width: 100vw;
        height: 50vh;
    }

    .banner > div {
        width: 80%;
    }

    .w-sm-25 {
        width: 25%;
    }

    .w-sm-100 {
        width: 100%;
    }

    /* .carousel-item {
        height: 100vh;
    } */

    .carousel-item > img {
        height: 100%;
    }

    .carousel-item > div {
        top: 50%;
    }

    .w-sm-50 {
        width: 90%;
    }

}